<h1 id="tableLabel">Проводки</h1>


<p *ngIf="!operations"><em>Загрузка...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="operations">
  <thead>
    <tr>
      <th>Id</th>
      <th>ExecutionDate</th>
      <th>Amount</th>
      <th>FromAccount</th>
      <th>ToAccount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let o of operations">
      <td>{{ o.Id }}</td>
      <td>{{ o.ExecutionDate }}</td>
      <td>{{ o.Amount }}</td>
      <td>{{ o.FromAccount?.Title}} !!! {{TypeDescription(o.FromAccount?.Type)}}</td>
      <td>{{ o.ToAccount?.Title}} !!! {{TypeDescription(o.ToAccount?.Type)}}</td>
    </tr>
  </tbody>
</table>
